@import "../../styles/variable.scss";
@import "../../styles/styles.scss";

.ModalProduct {
  display: flex;

  @include tablet {
    flex-direction: column;
    height: 100vmax;
    width: 100vmin;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0%;
    padding-top: 2rem;
  }

  &__image {
    width: 500px;
    height: 700px;

    @include tablet {
      width: auto;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 400px;
    margin-bottom: 1.5rem;

    @include tablet {
      padding: 1rem;
    }
  }

  &__title {
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.18em;
    line-height: 1.2em;
    font-family: $font-lct;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }

  &__description {
    font-size: 13px;
    line-height: 19px;
    text-align: left;
  }

  &__button {
    padding: 1.5rem;
    background-color: $grey-100;
  }
}
