$primary: #fa5553;
$primary-dark: #c91c19;
$white: #ffffff;
$grey: #fffefa;

$shadow_1: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);

$font-lct: ltc-bodoni-175, serif;
$font-courier: "Courier New", Courier, monospace;
