@import "../../styles/styles.scss";

.ListCard {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0.75rem;
      row-gap: 2rem;
    }
  }

  &__image {
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
